.relatoItem-wrap {
    display: block;
    flex-direction: column;
    font-weight: 100;
    border-radius: 20px;
    margin: 20px 100px 20px 80px;
    padding: 30px;
    background: #e3e3e3;
}

.relatoItem-desc {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    font-size: 20px;
    color:black;
    margin-top: 10px;
}

.relatoItem-end {
    margin: 10px;
    margin-left: 0;
    font-size: 18px;
    font-weight: 500;
    color: #072C6B;
}

.relatoItem-wrap header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.relatoItem-user {
    display: flex;
}
.relatoItem-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.relatoItem-user h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
    color: #878787;
}
.relatoItem-user p {
    font-size: 15px;
    margin: 7px;
    color:#a9a9a9;
    margin-left: auto;
}